<div class='container'>
  <div class='row'>

    <div class='col-md-12'>

      <div class='widget stacked widget-table'>
        <div class='widget-header'>
          <h3>Power Rankings</h3>
        </div>

        <div class='widget-content'>

          <table class='table table-bordered table-striped'>
            <thead>
              <tr>
                <td>Rank</td>
                <td>Programmer</td>
                <td>PowerPoints</td>
                <td>GitHub Commits</td>
                <td>Exercisms</td>
                <td>Chat Points</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Luke</td>
                <td>5433</td>
                <td>34</td>
                <td>5</td>
                <td>439232</td>
              </tr>
              <tr>
                <td>1</td>
                <td>Luke</td>
                <td>5433</td>
                <td>34</td>
                <td>5</td>
                <td>439232</td>
              </tr>
              <tr>
              <tr>
                <td>1</td>
                <td>Luke</td>
                <td>5433</td>
                <td>34</td>
                <td>5</td>
                <td>439232</td>
              </tr>
                <td>1</td>
                <td>Luke</td>
                <td>5433</td>
                <td>34</td>
                <td>5</td>
                <td>439232</td>
              </tr>
              <tr>
              <tr>
                <td>1</td>
                <td>Luke</td>
                <td>5433</td>
                <td>34</td>
                <td>5</td>
                <td>439232</td>
              </tr>
                <td>1</td>
                <td>Luke</td>
                <td>5433</td>
                <td>34</td>
                <td>5</td>
                <td>439232</td>
              </tr>
            </tbody>
          </table>

        </div>

      </div

    </div>

  </div>
</div>
