<!DOCTYPE html>

<body>

  <div class="intro-header">

    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
            <h1>Stat-Chat</h1>
            <h3>POWER RANKINGS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h3>
            <ul class="list-inline intro-social-buttons">
              <li class="btn btn-lg"><%= button_to 'Login with Github', 'auth/github' %></li>
            </ul>
          </div>
        </div>
      </div>

    </div><!-- /.container -->

  </div><!-- /.intro-header -->

</body>

