<div class="login-button"> 
  <div class='badge_container' style="height:auto;background:orange;padding:10px">
    <h1>Billy's Picks</h1>
    <h5> Are You The Top Kitty In The LitterBox?</h5>
    <%= button_to "Login with Github",  '/auth/github',  method: 'get'%>
  </div>
</div>

