/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree 
*/ 

/*------------------------------------------------------------------

[Login/Signup Stylesheet]

  Project:    Base Admin
  Version:    1.0
  Last change:  05/21/2012
  Assigned to:  Rod Howard (rh)

-------------------------------------------------------------------*/




/** Base Body Styles **/
body{ color:#838383; font: 13px/1.7em 'Open Sans';}


.account-container {
  width: 390px; 
  display: block;
  margin: 60px auto 0 auto;

  background: #f9f9f9;

  border: 1px solid #d5d5d5;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;


}


  
span.login-checkbox > input[type='checkbox'] {
    opacity: 0;
    float: left;
    width: 15px;
}

span.login-checkbox > input[type='checkbox'] + label {    
    clear: none;
    
  height: 15px; 
  display: block;
    padding: 0 0 0 22px;
    margin: 0;
    
    font-size: 12px;
    line-height: 1.2em;
    
    background: url(../../img/signin/check.png) no-repeat 0 0;
    
    cursor: pointer;
}

span.login-checkbox > input[type='checkbox']:checked + label {  
  background-position: 0 -15px;
}



.account-container h1 {
  margin-bottom: .4em;

  color: #f90;

  font-size: 32px;
}









.register .login-social {
  margin-bottom: 1em;
}

.register .login-actions {
  margin-bottom: 0;
}

.register .login-fields input {
  width: 299px;
  padding-left: 6px;
}

.register h1 {
  color: #444;
}

.login-button {
  text-align: center;
  margin-top: 20%;
}

.register span.login-checkbox {
  position: relative;
  top: -6px;

  width: 200px;
}

.register span.login-checkbox > input[type="checkbox"] + label {

  position: relative;

  line-height: 1.3em;
}



@media (max-width: 480px) {

  .account-container {
    width: 280px; 
    margin-top: 35px;
  }

  .login-fields input {
    width: 160px;
  }

  .login-social {
    width: 100%;
  }

  .twitter {
    display: block;
    margin-bottom: 1em;
  }

  .register .login-fields input {
    width: 204px;
    padding-left: 6px;
  }

}


