---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/users/Teapane
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1393020960'
      Last-Modified:
      - Fri, 21 Feb 2014 21:10:08 GMT
      Etag:
      - '"0a73c43b0249a41db05c248ad42d4cde"'
      X-Github-Media-Type:
      - github.beta
    body:
      encoding: UTF-8
      string: '{"login":"Teapane","id":4227025,"avatar_url":"https://gravatar.com/avatar/4164b853dcf6cad5fae8af49de2e12b5?d=https%3A%2F%2Fidenticons.github.com%2Fd182c202b8165476eae48d2d8d3aaa03.png&r=x","gravatar_id":"4164b853dcf6cad5fae8af49de2e12b5","url":"https://api.github.com/users/Teapane","html_url":"https://github.com/Teapane","followers_url":"https://api.github.com/users/Teapane/followers","following_url":"https://api.github.com/users/Teapane/following{/other_user}","gists_url":"https://api.github.com/users/Teapane/gists{/gist_id}","starred_url":"https://api.github.com/users/Teapane/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/Teapane/subscriptions","organizations_url":"https://api.github.com/users/Teapane/orgs","repos_url":"https://api.github.com/users/Teapane/repos","events_url":"https://api.github.com/users/Teapane/events{/privacy}","received_events_url":"https://api.github.com/users/Teapane/received_events","type":"User","site_admin":false,"name":"Tyler
        Long","company":"","blog":"twitter.com/teapane","location":"303","email":"tyler.stephen.long@gmail.com","hireable":true,"bio":null,"public_repos":25,"public_gists":0,"followers":18,"following":24,"created_at":"2013-04-22T17:22:23Z","updated_at":"2014-02-21T21:10:08Z"}'
  recorded_at: Fri, 21 Feb 2014 21:22:35 GMT
[...]
